[Unit]
Description=Advanced key-value store
After=network.target

[Service]
Type=forking
PermissionsStartOnly=true
ExecStartPre=-/bin/mkdir /var/run/redis
ExecStartPre=/bin/chown redis:redis /var/run/redis
ExecStart=/usr/bin/redis-sentinel /etc/redis/sentinel.conf
ExecStop=/usr/bin/redis-cli -p 26379 shutdown
Restart=always
RuntimeDirectory=redis
User=redis
Group=redis

[Install]
WantedBy=multi-user.target
