
port 26379
dir "/tmp"
logfile "/var/log/redis/sentinel.log"
daemonize yes
pidfile "/var/run/redis/sentinel.pid"

#  cache example
# sentinel config-epoch cache 0
# sentinel leader-epoch cache 0
# sentinel known-slave cache 10.0.0.2 6379

# sentinel known-slave cache 10.0.0.3 6379
# sentinel known-sentinel cache 10.0.0.2 26379 ceab19520c9777779298741387efbed6bff6cee5
# sentinel known-sentinel cache 10.0.0.3 26379 3a472d01c69295a525d8513d0df2ecfb5355efc7
# sentinel monitor cache 10.0.0.2 6379 2

# sentinel down-after-milliseconds cache 1000
# sentinel failover-timeout cache 8000

# session
# sentinel config-epoch session 0
# sentinel leader-epoch session 0
# sentinel known-slave session 10.0.0.2 6380

# sentinel known-slave session 10.0.0.3 6380
# sentinel known-sentinel session 10.0.0.2 26379 ceab19520c9777779298741387efbed6bff6cee5
# sentinel known-sentinel session 10.0.0.3 26379 3a472d01c69295a525d8513d0df2ecfb5355efc7
# sentinel monitor session 10.0.0.2 6380 2

# sentinel down-after-milliseconds session 1000
# sentinel failover-timeout session 8000


# app
# sentinel config-epoch app 0
# sentinel leader-epoch app 0
# sentinel known-slave app 10.0.0.2 6381

# sentinel known-slave app 10.0.0.3 6381
# sentinel known-sentinel app 10.0.0.2 26379 ceab19520c9777779298741387efbed6bff6cee5
# sentinel known-sentinel app 10.0.0.3 26379 3a472d01c69295a525d8513d0df2ecfb5355efc7
# sentinel monitor app 10.0.0.2 6381 2

# sentinel down-after-milliseconds app 1000
# sentinel failover-timeout app 8000

maxclients 4064

# Generated by CONFIG REWRITE
